# FIREBASE (Client-Side SDK)
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyB0IafWKOBHj2ik2FCJbEOEpuT9GxFlpwA"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "failu-forward.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "failu-forward"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "failu-forward.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "548230030951"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:548230030951:web:84489f8f86231f6df956c2"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-LZXYCDSL6M"
PORT = "10000"
#Default key is url
API_KEY="https://failuforward.vercel.app" 
# FIREBASE (Admin SDK)
FIREBASE_PROJECT_ID =""
FIREBASE_CLIENT_EMAIL =""
FIREBASE_PRIVATE_KEY =""

# CLOUDINARY
CLOUDINARY_API_KEY = ""
CLOUDINARY_UPLOAD_PRESET = ""
CLOUDINARY_CLOUD_NAME = ""
#added
CLOUDINARY_API_SECRET=""

# NEWS API
NEWS_API_KEY = ""
#gemini api key
GOOGLE_API_KEY=""

#------------------------IF you get error, try to remove remove between varibel ,=, and key